# 依赖
node_modules/

# 构建产物
build/
dist/
*.apk

# Android
android/build/
android/app/build/
android/app/src/main/assets/
android/app/src/main/res/drawable-*/
android/app/src/main/res/raw/
android/.gradle-home/

# iOS
ios/build/
ios/Pods/

# 日志
*.log
npm-debug.log*

# 缓存
.cache/
*.cache
.gradle/

# IDE
.vscode/
.idea/
*.swp
*.swo

# 系统
.DS_Store
Thumbs.db

# 测试
coverage/
*.test.js

# 临时文件
tmp/
temp/
